absl-py==0.9.0
astor==0.8.1
atari-py==0.1.15
azure==1.0.3
azure-common==1.1.25
azure-mgmt==0.20.2
azure-mgmt-common==0.20.0
azure-mgmt-compute==0.20.1
azure-mgmt-network==0.20.1
azure-mgmt-nspkg==3.0.2
azure-mgmt-resource==0.20.1
azure-mgmt-storage==0.20.0
azure-nspkg==3.0.2
azure-servicebus==0.20.1
azure-servicemanagement-legacy==0.20.2
azure-storage==0.20.3
-e git+https://github.com/anandkamat05/TDEOC.git@f73b7a7b8d5b9afcc9034d93e5dbc6937ec1c345#egg=baselines
box2d-py==2.3.8
cached-property==1.5.1
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
cycler==0.10.0
Cython==0.29.18
decorator==4.4.2
dill==0.3.1.1
gast==0.3.3
glfw==1.11.1
grpcio==1.29.0
gym==0.12.4
-e git+https://github.com/anandkamat05/TDEOC.git@f73b7a7b8d5b9afcc9034d93e5dbc6937ec1c345#egg=gym_extensions&subdirectory=gym-extensions-master
-e git+https://github.com/anandkamat05/TDEOC.git@f73b7a7b8d5b9afcc9034d93e5dbc6937ec1c345#egg=gym_miniworld&subdirectory=gym-miniworld-master
h5py==2.10.0
idna==2.9
imagecodecs==2020.2.18
imageio==2.8.0
importlib-metadata==1.6.0
joblib==0.15.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
lockfile==0.12.2
Markdown==3.2.2
matplotlib==3.2.1
mock==4.0.2
mpi4py==3.0.3
mujoco-py==2.0.2.2
multipledispatch==0.6.0
networkx==2.4
nose==1.3.7
numpy==1.18.4
opencv-python==4.2.0.34
Pillow==9.0.0
progressbar2==3.51.3
protobuf==3.12.0
pycparser==2.20
pygame==1.9.6
pyglet==1.5.5
pyparsing==2.4.7
pyrr==0.10.3
python-dateutil==2.8.1
python-utils==2.4.0
PyWavelets==1.1.1
pyzmq==19.0.1
requests==2.23.0
scikit-image==0.17.2
scipy==1.4.1
six==1.14.0
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
tifffile==2020.5.11
tqdm==4.46.0
urllib3==1.25.9
Werkzeug==1.0.1
zipp==3.1.0
zmq==0.0.0
